
.main-container {
  display: flex;
  flex-direction: row; 
  min-height: 100vh;   
  gap: 20px;           
  padding: 40px;
  align-items: center;
}

.column-left, .column-right {
  flex: 1;             
  padding: 20px;
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
    padding: 20px;
  }
}